snippet bare "barebone code template"
#include <iostream>
#include <vector>
#include <string>

using std::cout;
using std::endl;
using std::vector;
using std::string;


int main()
{

}
endsnippet

snippet icd "#include directive" b
#include <$1>
$0
endsnippet
