snippet kbd "HTML kbd tag"
<kbd>${1:KEY}</kbd>$0
endsnippet

snippet head "Markdown header" b
---
title: "$1"
date: `!v strftime("%Y-%m-%d %H:%M:%S%z")`
tags: [$2]
categories: [$3]
---
$0
endsnippet

snippet more "HTML more tag"
<!--more-->
endsnippet

snippet img "Aligned image using HTML tag"
<p align="center">
<img src="${1:URL}">
</p>
$0
endsnippet

snippet link "Markdown links"
[$1]($2)$0
endsnippet
