snippet head "Python source file header" b
"""
Description: $1
Author: Jie-dong Hao (jdhao@hotmail.com)
Created: `!v strftime("%Y-%m-%d %H:%M:%S%z")`
"""
$0
endsnippet

snippet print "Print value of some variable"
print("$1".format($2))
$0
endsnippet

snippet impa "import FOO as BAR" b
import ${1:FOO} as ${2:BAR}
endsnippet

snippet main "Main function boilerplate" b
def main():
	$0


if __name__ == "__main__":
	main()
endsnippet

snippet sol "solution" b
solution = Solution()
endsnippet
