snippet fun "vim function"
function! ${1:MyFunc}(${2}) abort
	$3
endfunction
$0
endsnippet

snippet aug "vim augroup" b
augroup ${1:GROUP_NAME}
	autocmd!
	autocmd ${2:EVENT} ${3:PATTERN} $4
augroup END
$0
endsnippet
